<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonc.ioc.core.dao.TestMapper">
    <sql id="testColumns">
        a.id AS "id",
        a.parent_id AS "parentId",
        a.dict_code AS "dictCode",
        a.dict_name AS "dictName"
     </sql>
    <select id="selectByPage" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        <if test="!pagination">
            <include refid="testColumns"/>
        </if>
        <if test="pagination">
            count(a.id)
        </if>
        FROM omp_dict a
    </select>
</mapper>